
<div class="testDiv">
    <a class="talbePubInf">
        <h2>
        Приветствуем в онлайн ресурсо-распределителе!
        </h2>

    </a>
    
    <form class="myForm" onsubmit="postSingInSignUp(loginLayer.value, passwordLayer.value, true)">
        <div class="textLayers">
            <div class="form-group">
                <label for="DropdownFormEmail">Your login</label>
                <input  type="email" autofocus class="col-md-auto" 
                id="DropdownFormEmail" placeholder="maybe@email.com" #loginLayer>
                
            </div>
            
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="col-md-auto" id="InputPassword" placeholder="Password" #passwordLayer>
            </div>

        </div>
        <div class="buttonsBox">
            <input class="buttonGradient button1" type="button" value="Log in" (click) = "postSingInSignUp(loginLayer.value, passwordLayer.value, true)">
            <div class=row>
                <input id="myCheckbox" type="checkbox" class="ml-5 myCheckboxClass checkbox-1x">
                <h4 class="col">Not my compyter</h4>
            </div>
            <input class="buttonGradient button2" type="button" value="Sign up" (click) = "postSingInSignUp(loginLayer.value, passwordLayer.value, false)">
        </div>
    </form>
</div>
