
body {
  padding: 10px;
  margin: 0px;
  /*background: url(/images/registration.gif) no-repeat center center fixed;*/
  background-size: cover;
  width: 100vmax;
  height: 100vmin;
}

.checkbox-1x{
  transform: scale(2) center center fixed;
  -webkit-transform: scale(2);
}

.talbePubInf{
  width: 300px;
  height: 200px;
  display: block;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 2px 20px -5px grey;
  font-weight: 600;
  border-radius: 10px;  
  background-image: radial-gradient(#f6d46593, #fd9f85a1, #f6d4659c);
  padding: 0px, 0px, 0px, 0px;
}

.testDiv{
  display: inline;
  
}

form {
  width: min-content;
  margin: -5vmax 0px 0px 30vmax;
  padding: 20px;
}

.myForm {
  display: block;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 2px 20px -5px grey;
  font-weight: 600;
  border-radius: 10px;  
  background-image: radial-gradient(#f6d46593, #fd9f85a1, #f6d4659c);
}

.buttonsBox input{
  margin: auto;
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 2px 20px -5px grey;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;  
  display: block;
    
}

.buttonGradient:hover{
  background-position: right center;
  color: #474aff;
}

.button1{
  background-image: linear-gradient(to right, #65f6bfd8 0%, #cd85fd 51%, #65f6bf 100%);
}

.button2{
  background-image: linear-gradient(to left, #c3f665d8 0%, #d185fde1 51%, #c3f665 100%);
}

input{
  font-size: 40px;
}
