.antiButton{
    border: 5px;
    border-color: blueviolet;
    color: aliceblue;
    background: #8c783200;
    outline: none;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
  }