<input type="image" src="/images/sunMoon.png" width="50" height="50" border-left=200px 
(click)="changeLocalStorageTheme()" >
<h1>Приглашения {{userName}}</h1>

<div *ngFor="let elem of this.inviteServ.myResponse.InviteElements" 
class="btn btn-secondary border border-info" #InviteButton>
    <div>идентификатор приглашения</div>
    <input type="button" class="antiButton" #InviteId value={{elem.inviteId}}>
    <div>вас пригласил</div>
    <input type="button" class="col antiButton" #ReqesterName value={{elem.loginOfUserWhoCreateReq}} >
    <div>в группу</div>
    <input type="button" class="col antiButton" #GroupName value={{elem.nameOfGroup}} >
    <div>принять?</div>
    <input type="button" value="ДА" (click)="SetAnswer(InviteId.value, true)">
    <input type="button" value="НЕТ" (click)="SetAnswer(InviteId.value, false)">
</div>


