<div>
  <input type="image" src="/images/sunMoon.png" width="50" height="50" border-left=200px (click)="changeLocalStorageTheme()" >
  <app-messages class="float-md-right"></app-messages>
  <h1>{{userName}}</h1>
  <input type="button" class=" btn exit-btn float-md-right" value="Выйти из аккаунта"  (click)="accountExit()" />
  
  <div class="container">
    <div class="row ">

      <div class="col ">
        <div class=" row ">

          <div class=" col">
            <h2 class="HeadGroupColomn" >группы</h2>
                    
            <button  #idGroupButton type="button" 
            *ngFor="let gropAndId of this.AccHttpServ.myResponse.ListGroupArrElem" 
            (click)="RoutOnGroupSettings(idGroup.value, nameGroup.value)" 
            class="btn btn-secondary border border-info">
            <input type="button" class="col antiButton" #idGroup value={{gropAndId.id}} >
            <input type="button" class="col antiButton" #nameGroup value={{gropAndId.group}} >
            </button>
              
                     
          </div>        
          
        </div>     
      </div>

      <div class="col">
        <h2 class="HeadAcountColomn col">счета</h2>
        <li class=" btn-secondary border border-info col" *ngFor="let acc of this.AccHttpServ.myResponse.Accounts" > 
          {{acc}}
        </li>
      </div>
      
    </div>
  </div>
  
  <div class="dropdown"  >
    <button class="btn btn-info" style="border-left:1px solid rgb(119, 119, 218)">
      Создать группу
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div  class="btn-info" >
        Имя группы 
        <input  type="text" #NameOfGroup /> 
        <input class="btn btn-success" type="button" (click) = "makeNewGroup(NameOfGroup.value)" value="Подтвердить"/>
      </div>
      
    </div>
  </div>
</div>
