.exit-btn{
  color: #fff700;
  background-color: #fd3f2699;
  border-radius: 10px;  
  box-shadow: 0 2px 20px -5px #303030;
}

.settings-btn{
  color: #fff700;
  background-color: #0c9414f5;
  border-radius: 10px;  
  box-shadow: 0 2px 20px -5px #303030;
} 

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /*background-color:rgb(192, 221, 25);*/
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(44, 35, 172);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #c92f2f
}

.dropdown:hover .dropdown-content {
  display: block;
}

.usersTable{
  background: #00578086;
  box-shadow: 0 2px 20px -5px #303030;
  border-radius: 10px;
}

.userName{
  border: 10px 10px red;
  padding: 5px;
}

.antiButton{
  border: 5px;
  border-color: blueviolet;
  color: aliceblue;
  background: #8c783200;
  outline: none;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  border-radius: 10px;
}