<input type="image" src="/images/sunMoon.png" width="50" 
height="50" border-left=200px (click)="changeLocalStorageTheme()" >
<h1 class="titleName">{{GroupName}}</h1>

<app-messages class="float-md-right"></app-messages>

<div class="row">
    <div class=" mx-auto usersTable">
        <h4>Пользователи этой группы</h4>
        <h4 class="mx-auto col userName" *ngFor="let userName of this.groupSettServ.myResponse.AllUsersOfGroup "> {{userName}} </h4>
    </div>
    <div class="mx-auto usersTable" >
        <h4>Счета этой группы</h4>

        <div type="button" class="btn-secondary border border-info mx-auto col accountsTable" 
        *ngFor="let elem of this.groupSettServ.myResponse.AllAccountsOfGroup" (click)="routOnMoneyAccount(elem.AccountId)" >
            <div>
                ID: <input type="button" class="antiButton" value={{elem.AccountId}}>; деньги счёта: <input type="button" class="antiButton" value={{elem.AccountMoney}}>;
            </div>
        </div>
    
    </div>
</div>

<input type="button" class="btn exit-btn float-md-right" value="Выйти из аккаунта" (click)="accountExit()" />

<div class="row mt-5"> 
    <div class="col">
        <input class="settings-btn" (click)="deleteGroup()" type="button" value="Удалить группу"/>
    </div>
    <div class=" col">
        <input class="settings-btn  " (click)="addNewAccount()" type="button" value="Добавить счёт к группе"/>
    </div>
    
    
    <div class="col">
        <div class="dropdown"  >
            <button class="settings-btn" >
            Добавить к группе пользователя
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <div  class="" style="background-color: #42805e;" >
                    Имя пользователя 
                    <input  type="text" value="" #NameOfUserForAdd  /> 
                    <input class="btn btn-success" type="button" (click) = "addRequestOnAddingUserInGroup(NameOfUserForAdd.value)" value="Подтвердить"/>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="dropdown"  >
            <button class="settings-btn" >
            Переименовать группу
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
            <div  class="" style="background-color: #42805e;" >
                Новое имя группы 
                <input  type="text" #NameOfGroup /> 
                <input class="btn btn-success" type="button" (click) = "renameGroup(NameOfGroup.value)" value="Подтвердить"/>
            </div>
            
            </div>
        </div>
    </div>


</div>

