.exit-btn{
    color: #fff700;
    background-color: #fd3f2699;
    border-radius: 10px;  
    box-shadow: 0 2px 20px -5px #303030;
}

.HistoryClass{
    
    background-color:  #005780a2;
    border-radius: 10px; 
    box-shadow: 0 2px 20px -5px #303030;

}

.InvokeClass{
    color: #000000;
    background-color: #4ef125c0;
    border-radius: 10px; 
    box-shadow: 0 2px 20px -5px #303030;
}

.NotInvokeClass{
    color: #f8aa00;
    background-color: #f12525c0;
    border-radius: 10px; 
    box-shadow: 0 2px 20px -5px #303030;
}

.TableForAction{
    background-color: #005780a2;
    border-radius: 10px; 
    box-shadow: 0 2px 20px -5px #303030;
}