<input type="image" src="/images/sunMoon.png" width="50" 
height="50" border-left=200px (click)="changeLocalStorageTheme()" >
<input type="button" class="btn exit-btn float-md-right" value="Выйти из аккаунта" (click)="accountExit()" />
<div class="container">
    <div class="row">
        <div class="col-3 float-md-left">
            <input class="btn btn-info" type="button" value="пополнить счёт" (click)="clickInvokeButton()">
            <div *ngIf="this.invokeClicked == 1">
                <input class="InvokeClass" *ngFor="let item of this.moneyAccServ.myResponse.TypesOfActionEntity.Invoke" type="button" value="{{item}}" (click)="chooseType(item)">
            </div>
    
            <input class="btn btn-info" type="button" value="снять со счёта" (click)="clickNotInvokeButton()">
            <div *ngIf="this.invokeClicked == 2">
                <input class="NotInvokeClass" *ngFor="let item of this.moneyAccServ.myResponse.TypesOfActionEntity.NotInvoke" type="button" value="{{item}}" (click)="chooseType(item)">
            </div>
            <div class=" TableForAction" *ngIf="this.typeForAction != '' ">
                <div class="">
                    <div>Операция: {{this.typeForAction}}</div>
                    <div>Денег: <input #money type="number"></div>
                    <div>Комментарий: </div> <textarea #comment cols="29" rows="5"></textarea>
                    <input class="btn btn-secondary" type="button" value="Выполнить" (click)="doOperation(this.typeForAction, money.value, comment.value)">
                </div> 
                
                
                
            </div>
        </div>

        <div class="col float-md-right">
                
            
            <h3 class="border-bottom border-left border-success text-primary" >На счету: {{this.moneyAccServ.myResponse.Money}} </h3> 
            <div> <h2> История действий по счёту </h2> </div>
            <div *ngFor="let item of this.moneyAccServ.myResponse.ActionHistory" class="HistoryClass" >
                <div class="row">
                    <div class="col">Время: {{item.TimeOperation}}</div>
                    <div class="col">Пользователь: {{item.UserName}}</div> 
                    <div class="col">{{item.IsInvoke}}{{item.Money}} руб.</div>
                    <div class="col">Тип операции: {{item.OperationType}}</div>
                    <div class="col">Комментарий: "{{item.Comment}}"</div> 
                </div>
            </div>
        </div>
    </div>
</div>